<!-- registration-template.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Payment Successful</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background-color: rgba(128, 128, 128, 0.532);
      margin: 0;
      padding: 0;
      line-height: 2.5rem;
    }
    .container {
      background-color: white;
      border-radius: 10px;
      padding: 30px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    h1 {
      color: black;
      text-align: center;
    }
    h1 span {
      color: #f47458;
    }
    p {
      font-size: 16px;
      text-align: center;
    }
    .details {
      text-align: center;
      margin-top: 20px;
    }
    .details a {
      padding: 10px 20px;
      text-decoration: none;
      background-color: rgb(16, 143, 16);
      color: white;
      border: none;
      border-radius: 10px;
      font-size: 20px;
      cursor: pointer;
    }
    .footer {
      text-align: center;
      margin-top: 20px;
    }
    .footer{
      font-weight: 700;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Payment Successfully</h1>
  </div>
</body>
</html>
